#AboutDiv{
    margin: auto;
    text-align: center;
    padding-top: 180px;
    background-image: url('../img/Backgrounds/Background 1.jpeg');
    background-size: cover;
    min-height: 94vh;
}

#AboutTitle {
    color: white;
    font-family: Georgia;
    font-size: 80px;
    padding-bottom: 35px;

}

#AboutText {
    width: 40%;
    margin: auto;
}

#AboutText {
    color: rgb(218, 216, 216);
}

#AboutButtonDiv{
    padding: 35px 0 0 0;
}

#AboutButtons{
    padding: 10px 0 10px 0;
}

#AboutButtons button{
    width: 220px;
}


