.titleRow{
    border: 2px solid green;
    width: 95%;
    display: flex;
    align-content: center;
    margin: auto;
}

.titleCol{
    border: 2px solid black;
    margin: auto;
    text-align: center;
}

.AdminUsersPageMain{
    width: 100%;
    border: 3px solid red;
}