#CalendarShowDiv{
    min-height: 100vh;
    margin: auto;
    width: 80%;
    padding: 50px 0 10px 0;
}

@media only screen and (max-width: 800px){
    #CalendarShowDiv{
        width: 95%;
    }

    .fc-right{
        display: inline-block;
    }


}