#eventViewBackground{
    background-color: #212529;
    min-height: 100vh;
}

#eventViewContainer{
    min-height: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(61, 61, 75);
    margin: auto;

}

#eventViewTitle {
    grid-area: eventViewTitle;
    text-align: center;
    padding-bottom: 20px;
}

#eventViewInnerContainer{
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-areas:
            "eventViewImageDiv eventViewImageDiv eventViewImageDiv"
            "eventViewTitle eventViewTitle eventViewTitle"
            "eventViewInfo eventViewInfo eventViewInfoBox";
    text-align: left;
    padding: 20px 20px 0 20px;
    margin: auto;
    min-height: 100vh;
}

#eventViewInfo{
    grid-area: eventViewInfo;
    width: 100%;
    padding: 10px 10px 30px 20px;
}
#eventViewInfo div{
    padding: 10px 0 10px 0;
}

#eventViewTitleHR{
    width: 20%;
    height: 2px;
    background-color: rgb(11, 6, 68);
}

#eventViewImageDiv{
    grid-area: eventViewImageDiv;
}
#eventViewImageDiv img{
    max-height: 60%;
    width: 100%;
    /*object-fit: contain;*/
    object-fit: cover;
}

#eventViewInfoBox{
    grid-area: eventViewInfoBox;
}

#eventViewInfoBoxCard{
    /*box-shadow: 0 0 0 0 rgb(0, 0, 0), 5px 5px 10px 0 rgb(0, 0, 0);*/
    box-shadow: 0 0 0;
}
#eventViewInfoBoxMap{
    padding-bottom: 20px;
}

#eventViewButtons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
}

#eventViewButtons div{
    margin: auto;
}

#eventViewButtons button{
    width: 100px;
    margin: 5px;
}
#eventViewTitle h1{
    margin: 20px auto auto auto;
}

.table th{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.mapouter {
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none
    !important;
    height:100%;
    width:100%;
    min-height: 100px;
    min-width: 100px;
     
}

.gmap_canvas iframe{
    height:100%;
    width:100%;
    min-height: 200px;
    min-width: 100px;
}

#eventViewInfoTickets{
    width: 80%;
}

#eventViewInfoDownloadButtons{
    background-color: rgb(62, 107, 153);
    border: none;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 20px;
}

#eventViewInfoDownloadButtons:hover{
    background-color: rgb(38, 63, 138);
}

#eventViewInfoBoxCardCategoryIcon button:hover{
    cursor: auto;
}

#eventViewInfoBoxCardGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                ""
            ;
}

#eventViewInfoBoxCardGridTitle{
    grid-area: titleAndDate;
}

@media only screen and (max-width: 800px) {
    
    #eventViewContainer{
        min-height: 100%;
        padding: 0px;
        text-align: center;
        background-color: rgb(61, 61, 75);
        margin: auto;
    }
    
    #eventViewImageDiv img{
        width: 100%;
    }

    #eventViewInfo{
        padding: 20px;
    }

    #eventViewInfoBox{
        width: 100%;
    }
    #eventViewButtons button{

    }
    #eventViewInfoBox{
        width: 95%;
        margin: auto;
    }
    #eventViewInfoBoxCard{
        box-shadow: 0 0 0 ;
    }
}

@Media only screen and (max-width: 480px){
    #eventViewButtons{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}

@Media only screen and (max-width: 1080px){
    #eventViewInnerContainer{
        border-radius: 0px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "eventViewImageDiv"
                "eventViewTitle"
                "eventViewInfoBox"
                "eventViewInfo";
        text-align: left;
        padding: 0px;
        min-height: 100vh;
    }

    #eventViewInfoBox{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
}