#eventViewBackground{
    background-color: #212529;
    min-height: 90vh;
}
#eventViewContainer{
    width: 80%;
    min-height: 90vh;
    padding-top: 20px;
    text-align: center;
    background-color: white;
    margin: auto;
}
#eventViewInnerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "infoBox mapBox";
    text-align: left;
    padding: 20px 20px 0 20px;
    margin: auto;
    width: 50%;
}
#eventViewButtons{
    width: 50%;
    margin: auto;
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#eventViewTitle h1{
    margin: auto;
}
.table th{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.mapouter {
    position:relative;
    text-align:right;
    height:300px;
    width:300px;
}
.gmap_canvas {
     overflow:hidden;
     background:none
     !important;
     height:300px;
     width:300px;
}
.gmap_canvas iframe{
    height: 300px;
    width: 300px;
}
@media only screen and (max-width: 800px) {
    .gmap_canvas {
        height:250px;
        width:250px;
    }
    .gmap_canvas iframe{
        height: 250px;
        width: 250px;
    }
    .mapouter {
        height:250px;
        width:250px;
    }
    #eventViewInnerContainer{
         grid-template-columns: 1fr;
         grid-template-areas:
                 "infoBox"
                 "mapBox";
         width: 80%;
    }
    #eventViewContainer{
        padding-bottom: 20px;
    }
    #eventViewBackground{
        background-color: white;
    }
}

@media (max-width: 1400px) {

}