#Footer{
    background-image: linear-gradient(to bottom right, rgb(20, 57, 121), rgb(68, 111, 184));
    bottom: 0;
    z-index: 3;
    width: 100%;
    padding: 15px;
    text-align: center;
}


#FooterContainer a{
    padding: 10px;
}
#Footer a{
    color: white;
}
#Footer p{
    color: white;
}
#Footer h5{
    color: white;
}

#Footer a:hover{
    color: rgb(43, 205, 242);
}


#FooterText {
    color: white;
}

/*Lagede klasse for å gjøre hyperlinker sorte*/
.sortTekst{
    color: black;
}
.sortTekst:hover{
    color: black;
}

#footerProsjekt:hover{
    color: white;
}

@Media only screen and (max-width: 780px){
    #footerDropUp{
        padding-bottom: 5px;
    }
    .dropup-content {
        bottom: 27px;
    }
}
