#GuestMainPageContainer{
    width: 100%;
    display: inline-block;
}

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
}

.guestEventCard{
    margin: 3px;
    height: 300px;
    width: 300px;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#GuestMainPageContainer button{
    margin: 300px 20px 0 20px;
}