
#MainPageDiv{
    padding: 100px 0 0 0;
    margin: auto;
    text-align: center;
}

#MainPageTitle{
    font-family: Castellar;
    font-size: 150px;
}

#MainPageBtnDiv{
 padding: 100px 0 300px 0;
    align-content: center;
}

#MainPageButtons{
    padding: 20px 30px 20px 30px;
}