
#MainPageDiv{
    padding: 100px 0 0 0;
    margin: auto;
    text-align: center;
    min-height: 93vh;
}

#MainPageBody{
    margin: 0px;
    height: 100%;
    width: 100%;

}

#MainPageTitle{
    font-family: Georgia;
    font-size: 125px;
    color: white;
}

#MainPageBtnDiv{
 padding: 125px 0 0 0;
    align-content: center;
}

#MainPageButtons{
    padding: 20px 30px 20px 30px;
    width: 250px;
}