
#MainPageDiv{
    padding: 100px 0 0 0;
    margin: auto;
    text-align: center;
}

#MainPageBody{
    margin: 0px;
    height: 100%;
    width: 100%;

}

#MainPageTitle{
    font-family: Castellar;
    font-size: 150px;
    color: white;
}

#MainPageBtnDiv{
 padding: 100px 0 300px 0;
    align-content: center;
}

#MainPageButtons{
    padding: 20px 30px 20px 30px;
}