#OverviewDiv{
    margin: auto;
    text-align: center;
    padding-top: 50px;

    min-height: 93vh;
}

#OverviewTitle {
    padding-bottom: 35px;

}

#OverviewButtonDiv{
    padding: 35px 0 0 0;
}

#OverviewButtons{
    padding: 10px 0 10px 0;
}

#OverviewButtons button{
    width: 300px;
}

#OverviewButtonsLogOut{
    padding: 10px 0 10px 0;
}

#OverviewButtonsLogOut button{
    width: 100px;
}