    #ViewUserMain {
        width: 95%;
        border: 2px solid black;
        text-align: left;
        height: 100px;
        margin: auto auto 20px auto;
    }

    .col{
        border: 3px solid red;
    }

    .list-group-item{
        display: flex;
    }

    .col{
        margin: auto auto 20px auto;
        text-align: left;
        max-width: 14.28%;
    }

    #idCol{
        text-align: center;
    }



